@import "@style/scss/variables";

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $clr-black-50;
    display: none;
    &.open {
        display: block;
    }
}
