//=============================================
// Color
//=============================================

$clr-primary: hsl(26, 100%, 55%);
$clr-primary-light: hsl(25, 100%, 94%);
$clr-blue-1: hsl(220, 13%, 13%);
$clr-blue-2: hsl(219, 9%, 45%);
$clr-blue-3: hsl(220, 14%, 75%);
$clr-blue-4: hsl(223, 64%, 98%);
$clr-white: rgba(255, 255, 255, 1);
$clr-black: hsl(0, 0%, 0%);
$clr-black-50: rgba(0, 0, 0, 0.5);

//=============================================
// Size
//=============================================

$nav_h: 8rem;
